body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    display: flex;
    gap: 1px;
    height: 90vh;
    aspect-ratio: 1 / 1;
    border: solid black 3px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
}

.square {
    background-color: aqua;
    flex-grow: 1;
}

.reset {
    margin-top: 20px;
}